/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2017, 1:58:42 PM
    Author     : JEN
*/

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
body {
  background: #FFFFFF;
  color: #fff;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 100;
  text-align: left;
}
.container {
  background: #FFFFFF;
  color: #6A79A6;
  display: inline-block;
}
